<!DOCTYPE html>
<html>
  <head>
    <title>Nosso Amigo Secreto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>

    <%- if protect_against_forgery? -%>
      <meta name="authenticity-token" id="authenticity-token" content="<%= form_authenticity_token %>" />
    <%- end -%>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body class="body">
    <header>
      <%= render "shared/navbar" %>
    </header>

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main> 

    <footer>
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
